.section-left {
  width: 20%;
  padding: 20px;
  background-color: #e6eaf0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left1 {
  margin-left: 15px;
  height: 12%;
}

.addeventbtn {
  margin-top: 45px;
  display: inline-block;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.plus {
  height: 17px;
  margin-left: 3px;
}

#addevent {
  position: relative;
  margin-left: 14px;
  top: -2px;
}

